<!DOCTYPE html>
<html>
<head>
  <title>Tweet My Rep</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

      <meta property="og:type" content="event"/>
      <meta property="og:url" content="http://www.tweetmyrep.com"/>
      <meta property="og:title" content="Art of Business Success Workshop 3 Spring 2013"/>
      <meta property="og:description" content="Calling ALL Creative Entrepreneurs! Artmeme is proud to announce the 4 Week Art of Business Success Workshop specifically designed to empower and educate Creative Entrepreneurs 3. "/>
      <meta property="og:start_time" content="2013-04-03T23:00:00Z"/>
      <meta property="og:latitude" content="40.7200177"/>
      <meta property="og:longitude" content="-74.0431428"/>

</head>
<body>

  <div class="container" >

    <%= yield %>

  </div>
</body>
</html>
